.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #ffeeee;
}

.carousel-caption {
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.bgSmoke {
    background-color: rgba(0, 0, 0, 0.4);
}
