.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #ffeeee;
}

.carousel-caption {
    padding: 0;
}

.bgSmoke {
    background-color: rgba(0, 0, 0, 0.4);
}